body {
    margin: auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

img {
 
    width: 10em;
    max-height: 20em;
    border-style: solid;
    border-radius: 50%;
    margin: 2em 2em 1em 2em;

}

#headcontainer {
    background-color:#CCC;
    width:100%;
display:flex;
border-bottom: solid gold 3px;

}

.file-width1 {

		width:29%;
	
}

.file-width2 {
margin-top: 2em;
    width:50%;

}

.file-width3 {
    width: 20%;
margin-top: 1em;
}

.principalcontainer {
    width: 100%;
    background-color: #FBFEFB;
    display: flex;
}

.file-titles {
    width: 30%;
    border-bottom: 1px solid gray;
    margin-top: 2em;
    padding-left: 4em;
    color: goldenrod;
}

.file-content {
    width: 50%;
    border-bottom: 1px solid gray;
    margin-top: 2em;
    padding-bottom: 2em;
}

.file-year {
    width: 20%;
    border-bottom: 1px solid gray;
    margin-top: 2em;
    padding-bottom: 2em;
}

.year-list {
    list-style: none;
    
}

